html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-image: radial-gradient(var(--dim-color) 1.5px, transparent 0);
  background-size: 16px 16px;
  background-position: center top;
  background-attachment: fixed;

  --main-color: #000;
  --dim-color: #bfbfbf;
  --inv-color: #fff;

  background-color: var(--inv-color);
}

.placeholder {
  width: 100%;
  height: 0.1px;
}

body {
  font-family: monospace;
  font-size: 16px;
  padding-top: 64px;
}

body.os-host > .os-padding > .os-viewport > .os-content,
body.os-host > .os-padding > .os-viewport > .os-content-arrange {
  max-width: 1024px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  html {
    --main-color: #fff;
    --dim-color: #424242;
    --inv-color: #121212;
  }
}

header {
  top: 0;
  left: 0;
  right: 0;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.panel {
  box-shadow: 0 0 16px 2px var(--inv-color);
  background-color: var(--inv-color);
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid;
}

section {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  user-select: none;
  align-self: flex-end;
  border: solid 2px var(--main-color);
  border-radius: 8px;
}

.card {
  border-radius: 8px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--dim-color);
  transition: background-color ease 0.5s, box-shadow ease 0.5s;
  padding-top: 2px;
  background-color: var(--inv-color);
}

.card-header {
  display: flex;
  align-items: center;
}

.card:focus-within {
  background-color: var(--dim-color);
  box-shadow: inset 0 0 0 2px transparent;
}

.card-body {
  display: block;
  border-radius: 8px;
  border: 2px solid;
  min-height: 128px;
  padding: 8px;
  outline: none;
  background-color: var(--inv-color);
  position: relative;
  white-space: pre;
  overflow-x: auto;
}

::selection {
  background-color: var(--main-color);
  color: var(--inv-color);
}

@keyframes dialog-show {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dialog-blur {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(16px);
  }
}

#dialog {
  border-radius: 8px;
  border: 2px solid;
  animation: dialog-show 0.5s ease 0s;
}

#dialog[open] {
  display: flex;
  flex-direction: column;
}

#dialog::backdrop {
  backdrop-filter: blur(16px);
  background: none;
  animation: dialog-blur 1s ease 0s;
}

#dialog h2 {
  margin: 0;
}

#dialog menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#dialog button {
  font: inherit;
  color: var(--inv-color);
  background-color: var(--main-color);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
}

/*
os-theme-thin
*/

.os-theme-thin > .os-scrollbar-horizontal {
  right: 16px;
  height: 16px;
  padding: 0px 8px;
}
.os-theme-thin > .os-scrollbar-vertical {
  bottom: 16px;
  width: 16px;
  padding: 8px 0px;
}
body.os-theme-thin > .os-scrollbar-horizontal,
body.os-theme-thin > .os-scrollbar-vertical {
  background-color: var(--inv-color);
}

.os-theme-thin.os-host-rtl > .os-scrollbar-horizontal {
  left: 16px;
  right: 0;
}
.os-theme-thin > .os-scrollbar-corner {
  height: 16px;
  width: 16px;
}
.os-theme-thin > .os-scrollbar-horizontal > .os-scrollbar-track:before,
.os-theme-thin > .os-scrollbar-vertical > .os-scrollbar-track:before {
  content: "";
  display: block;
  position: absolute;
  background: var(--dim-color);
}
.os-theme-thin > .os-scrollbar-horizontal > .os-scrollbar-track:before,
.os-theme-thin
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle:before {
  left: 0;
  right: 0;
  height: 2px;
  top: 50%;
  margin-top: -1px;
}
.os-theme-thin > .os-scrollbar-vertical > .os-scrollbar-track:before,
.os-theme-thin
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle:before {
  top: 0;
  bottom: 0;
  width: 2px;
  left: 50%;
  margin-left: -1px;
}
.os-theme-thin
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:before {
  content: "";
  display: block;
  position: absolute;
  background: var(--main-color);
  border-radius: 10px;
}
.os-theme-thin
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover:before,
.os-theme-thin
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle.active:before {
  height: 4px;
  margin-top: -2px;
}
.os-theme-thin
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover:before,
.os-theme-thin
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle.active:before {
  width: 4px;
  margin-left: -2px;
}
.os-theme-thin
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover:before,
.os-theme-thin
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover:before {
  background: var(--main-color);
}
.os-theme-thin
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle.active:before,
.os-theme-thin
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle.active:before {
  background: var(--main-color);
}
.os-theme-thin
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  height: 100%;
  min-width: 30px;
}
.os-theme-thin
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  width: 100%;
  min-height: 30px;
}
.os-theme-thin.os-host-transition
  > .os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle:before {
  transition: height 0.3s, margin-top 0.3s, background 0.2s;
}
.os-theme-thin.os-host-transition
  > .os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle:before {
  transition: width 0.3s, margin-left 0.3s, background 0.2s;
}
