<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/default.css">
{{#if highlight}}
<link rel="stylesheet" type="text/css" href={{ skypack "highlight.js/styles/default.css" }}>
{{/if}}
<title>{{title}}</title>