doctype html
html(lang="en")
  include /includes/head.pug
  +jslink("default")
  +csslink("show")
  +script("https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js")
  +jslink("view")
  title Paste #{hash}

  header
    .panel.panel-left
      .title Paste
    .panel.panel-right
      .a-create Create new paste

  section
    each item in files
      if item.type === "file"
        .card
          .card-header
            .filename=item.filename
          if item.ext
            code.card-body.content(class=`language-${item.ext}`)=item.content
          else
            code.card-body.content(class=`nohighlight`)=item.content
  .placeholder